# Database
DB_HOST=localhost
DB_PORT=3307
DB_NAME=myracing
DB_USER=admin
DB_PASSWORD=MiR@cing_2025!

# JWT
JWT_SECRET=tu_clave_secreta
JWT_REFRESH_SECRET=tu_clave_refresh

# Mercado Pago
MERCADOPAGO_ACCESS_TOKEN=tu_token

# URLs
URL_FRONTEND=http://localhost:5173
URL_BACKEND=http://localhost:3000
URL_WEBHOOK_MP=http://localhost:3000/api/payment/wh-mp
